input[type="text"] {
    border: none;
    width: auto;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.5rem;
    padding: 20px 120px 20px 40px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: padding-right .3s ease, box-shadow .3s ease .3s;
    will-change: padding-right, box-shadow;


    &:focus {
        padding-right: 50%;
        box-shadow: 0 0 12px 2px rgba(0,0,0,0.5);
    }
}
