$p-color-900: #42207c !default;
$p-color-800: #522b8c !default;
$p-color-700: #5c3195 !default;
$p-color-600: #68399e !default;
$p-color-500: #703fa4 !default;
$p-color-400: #845ab1 !default;
$p-color-300: #9978bf !default;
$p-color-200: #b69fd2 !default;
$p-color-100: #d2c5e3 !default;
$p-color-50: #ede7f4 !default;
$c-color-900: #426a1a !default;
$c-color-800: #658c2b !default;
$c-color-700: #79a034 !default;
$c-color-600: #8eb43e !default;
$c-color-500: #9ec446 !default;
$c-color-400: #accc62 !default;
$c-color-300: #bcd57f !default;
$c-color-200: #bcd57f !default;
$c-color-100: #e2edc7 !default;
$c-color-50: #f4f8e9 !default;
$a1-color-900: #242680 !default;
$a1-color-800: #313895 !default;
$a1-color-700: #3942a1 !default;
$a1-color-600: #414cad !default;
$a1-color-500: #4754b7 !default;
$a1-color-400: #626ec2 !default;
$a1-color-300: #7e89cd !default;
$a1-color-200: #a2aadc !default;
$a1-color-100: #c7cbea !default;
$a1-color-50: #e9ebf6 !default;
$a2-color-900: #521e73 !default;
$a2-color-800: #6e2684 !default;
$a2-color-700: #7d2b8c !default;
$a2-color-600: #8e3195 !default;
$a2-color-500: #9b359b !default;
$a2-color-400: #aa4fa9 !default;
$a2-color-300: #ba6db9 !default;
$a2-color-200: #ce96cd !default;
$a2-color-100: #e1bfe0 !default;
$a2-color-50: #f3e6f2 !default;
$t1-color-900: #95316a !default;
$t1-color-800: #bc3875 !default;
$t1-color-700: #d33c7b !default;
$t1-color-600: #ea4082 !default;
$t1-color-500: #fd4487 !default;
$t1-color-400: #fb5a9a !default;
$t1-color-300: #fc76ae !default;
$t1-color-200: #fb9dc6 !default;
$t1-color-100: #fbc3dd !default;
$t1-color-50: #fde7f1 !default;
$t2-color-900: #5b2912 !default;
$t2-color-800: #6b371b !default;
$t2-color-700: #794522 !default;
$t2-color-600: #89522b !default;
$t2-color-500: #955c31 !default;
$t2-color-400: #ab744c !default;
$t2-color-300: #c08c67 !default;
$t2-color-200: #ddab8a !default;
$t2-color-100: #f7caaa !default;
$t2-color-50: #ffe8c6 !default;