@import 'var';


$color: (
	'bg-base': $p-color-100,
	'bg': $p-color-900,

	'txt-base': #555,
	'txt': $p-color-50,

	'hover': $p-color-300
);


@import 'nav';
@import 'main';
@import 'typography';
@import 'card';
@import 'btn';
@import 'input';
@import 'slider';
@import 'modal';


* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	transition: all .2s;
}

img {
	object-fit: cover;
}

body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	width: 100vw;
	background-color: map-get($color, bg-base);
}

header {
	div.slider-nav {
		width: 70%;

		@media (max-width: 800px) {
			width: 80%;
		}

		@media (max-width: 450px) {
			width: 90%;
		}

		@media (max-width: 320px) {
			width: 95%;
		}
	}
}

input.search {
	@media(max-width: 450px) {
		width: 100%;
		padding: 20px 40px;
	}
}



//	Components Variable

$_headerSlide-horizontal-align: calc(10% + 100px);

@media(max-width: 1000px) {
	$_headerSlide-horizontal-align: calc(10% + 70px);
}

@media(max-width: 800px) {
	$_headerSlide-horizontal-align: 10%;
}

@media(max-width: 540px) {
	$_headerSlide-horizontal-align: 5%;
}