@import 'var';

* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

img {
	object-fit: cover;
}

p {
	text-indent: 2em;
}

body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	width: 100vw;
	background-color: $p-color-100;
}

nav {
	width: 100%;


	div.container {
		padding: 2vh 10vw;
		display: flex;
		justify-content: space-between;
		background-color: $p-color-900;

		*:nth-child(4n) {
			display: none;
		}


		div.center {
			font-size: 140%;
			color: $p-color-50;
			align-self: center;
		}


		a {
			color: #FFF;
			font-family: 'Merriweather Sans', sans-serif;
			text-decoration: none;


			&:hover {
				color: scale-color($p-color-900, $lightness: +60%);
			}
		}
	}	


	&.curved > div.container {
		height: 12vh;
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		box-shadow: 0 1px 5px #000;
		transform: scale(1.2);
	}
}